/* Vars */
$font-size: 1.2em;

/* Background start */
.bg {
    width: 100%;
    background-image: url('../background-home.jpg');
    /*background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;*/
    height: 90%;
}
.home-bg {
    position: absolute;
    top: 0;
}
/* Background end */

/* Box start */
.transp-bg {
    height: 100%;
    background-color: rgba(0, 0, 0, .5) !important; 
}
.home-box {    
    width: 100%;
    height: 100%;
    padding: 5em 0 0 2.5em;
    /*background-color: rgba(255, 0, 0, .5) !important;*/
}
/* Left */
.box-left {
    width: 50%;    
    float: left;
}
.box-left img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.box-left p {
    font-family: 'play';
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 1em;
}
.box-left p span {
    font-weight: bold;
}
.box-left p ~ p {
    margin-top: -.5em;
}
/* Right*/
.box-right {
    width: 50%;
    float: right;
    /*background-color: green;*/
}
.title-game-home {
    font-family: 'play';
    font-size: $font-size;
}
.box-right p {
    padding: .5em 0 0 0;
    color: #4B97D2;
}
/* Box end */

/* -- Home -- end */

/* end */