<%= form_for @user_session,
	:url => user_sessions_path do |f| %>
	<div class="form">
		<h2 class="title-game-home">Entrar no Jogo</h2>
		<!-- E-mail -->
		<div class="form-group">
		    <%= f.text_field :email, placeholder: "Entre com seu e-mail",
				class: "form-control"  %>
		</div>
		<!-- Password and Play! -->
		<div class="form-inline">
		    <%= f.password_field :password, 
	    		placeholder: "Entre com sua senha",
				class: "form-control"  %>
		    <%= f.submit "Jogar!",
				class: "btn btn-success" %>
		</div>
		<p>						
			<a href="">Esqueceu a senha</a>
		</p>
	</div>
<% end %>