<div class="row-fluid bg home-bg">
	<div class="transp-bg">		
		<div class="home-box container">	
			<div class="box-left">				
				<%= image_tag("logo.png", :alt => "LogoType") %>
				<p><span>Aprender</span> pode ser muito mais desafiador<span> !</span></p>
				<p>Supere seus limites e conquiste <span>conhecimento</span></p>
				<p>com o Game que vai superar suas <span>expectativas</span></p>
			</div>	

			<div class="box-right">
				<%= render partial: "user_session" %>
				<%= render partial: "user" %>
			</div>
		</div>
	</div>
</div>
<footer>
</footer>