<div class="container-fluid box-container">
	<div class="row">
		<div class="col-md-12"><!-- Painel info jogo em andamento -->
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h3 class="title-default">
	                		O Jogo vai começar -
	                		<span>
	                			<%= @phase.name%>
	                		</span> 
	                </h3>
	            </div>
	            <div class="panel-body">
	                <p class="paragraph">
	                	Falta pouco para o jogo começar!
	                	Reuna os jogadores, verifique se todos
	                	estão preparados, e dê início a grande batalha
	                </p>
	                <p class="paragraf alert alert-danger">
	                	Ao startar o Game o crônometro começa a rodar,
	                	os jogadores tem 
	                	<span style="font-size:1.2em">40 minutos</span> 
	                	para finalizar o jogo
	                </p>
	                <h2 class="subtitle-default">
	                	Tempo do jogo
	                </h2>	
	                <div onload="show();">	                	
		                <div class="digital" id="time">
		                	00:00:00:000
		                </div>
	                </div>
	                <form>
	                	<input type="hidden" 
	                		id="phase_id" value="<%= @phase.id %>">
	                	<input type="hidden" 
	                		id="key_master" value="<%= @key_master %>">
	                </form>
		            <div class="group-button">
		            	<button id="start_game" 
		            		class="game btn btn-success">
		            		Start Game
		            	</button>
		            </div>
	            </div>
	        </div>
	     </div>
	</div>
</div>