/* Vars */
$font-size: 2em;

/* Initialize */
* {
    font-family: "play";
}
html, body { 
    margin:0; 
    height: 100%;    
}

body {
    background-color: #F2F2F2 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;    
}
.row:before, .row:after {
    display: none !important;
}

/* Box Container */
.box-container {        
    width: 80%;
    float:right;
	padding: 5em 0 10em 0;
    display: block !important;
}

/* Form */
.form {
    width: 75%;
    margin: 0 auto 2em auto;
    padding: .1em 1em 1em 1em;
    border-radius: .5em;
    background-color: rgba(255, 255, 255, .9) !important; 
}

/* Title Game */
.title-game {
    font-family: "play";
    margin-bottom: .5em;
    font-size: $font-size;
    text-align: center;
}

/* Logo Games */
.logo-games img {
    display: block !important;
    margin: 0 auto !important;
}
.logo-left img {
    float: left; 
    margin-right: 2em;
}

/* Title Game */
.game-title {
    font-family: "play";
    font-size: 1.5em;
    text-align: center;
}
.title-left {
    text-align:left;
}

/* Large Size */
.paragraph {
    font-size: 1.2em;
}

/* Button start game */
.btn-start-game {
    margin: 1em 0;
}

/* Progressbar */
.progressbar{
    width: 78%;
    
    background:#f2f3f5;
    padding:1em;
    margin: 0 2em 2em 0;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;-webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    
}
.progressbar-value{
    font-weight:700;
    padding-right:.75em;
}
.progressbar-bar{
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-flex-shrink:2;
    -ms-flex-negative:2;
    flex-shrink:2;
    min-width:0;
    width:100px;
    height:1em;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none;
    color:#67C163;
    background-color:#fff;
}
.progressbar-bar::-webkit-progress-bar{
    background-color:#fff;
}
.progressbar-bar::-webkit-progress-value{
    background-color:#67C163;
    background-image:repeating-linear-gradient(-45deg,#62B960,#62B960 15px,#67C163 15px,#67C163 27px);
}
.progressbar-bar::-moz-progress-bar{
    background-color:#67C163;
    background-image:repeating-linear-gradient(-45deg,#62B960,#62B960 15px,#67C163 15px,#67C163 27px);
}
.progressbar-bar::-ms-fill{
    background-color:#67C163;
    background-image:repeating-linear-gradient(-45deg,#62B960,#62B960 15px,#67C163 15px,#67C163 27px);
    border:none;
}

/* Font icons */
.open:before {
  content: '\e800'; 
  font-family: 'open';
  speak: none;
  display: inline-block;
  color: white;
  padding-right: 1.2em; 
}
.target:before {
  content: '\e800'; 
  font-family: 'target';
  speak: none;
  display: inline-block;
  color: white;
  padding-right: 1.2em; 
}
.game:before {
  content: '\e801'; 
  font-family: 'game';
  font-size: 1.2em;
  speak: none;
  display: inline-block;
  color: white;
  padding-right: 1.2em; 
}