/* Menu start */
.navbar {
  border-radius: 0;
  border: 0;
  height: 40px; 
}
.navbar-fixed-top {
  position: fixed;
  z-index: 1030;
}
.navbar-nav {
  margin-top: -.5em;
}
.navbar-right {
  margin: .5em .5em 0 0;
}
._brand {
  font-weight: bold !important;
  color: white !important;
}
.dropdown {
  margin: .5em 2em 0 0;
}
.sidebar {
  width: 15%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0; 
  padding-top: 5em;
  z-index: 1000;
  display: block;    
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ccc;
  background-image: url("../imgs/img-bg.jpg");
  font-size: 1em;
  line-height: 1.5em;
  text-shadow: white 0 1em 1em;
}
.sidebar ul li a{
  padding-left: 1.8em;
}
.sidebar ul li a {
  color: #333;  
}
.sidebar ul li a:hover {  
  background-color: #bfbfbf; 
} 
/* end */

/* Sidebar icons start */
._patients:before {
  content: '\e800'; 
  font-family: 'patients';
    speak: none;
    display: inline-block;
    color: #333333;
    padding-right: 1.2em;    
}
._users:before {
  content: '\e800'; 
  font-family: 'users';
    speak: none;
    display: inline-block;
    color: #333333;
    padding-right: 1.2em;     
}
._insurance:before {
  content: '\e800'; 
  font-family: 'insurance';
    speak: none;
    display: inline-block;
    color: #333333;
    padding-right: 1.2em;     
}
._calendar:before {
  content: '\e800'; 
  font-family: 'calendar';
    speak: none;
    display: inline-block;
    color: #333333;
    padding-right: 1.2em;    
}
._charts:after {
  content: '\e801'; 
  font-family: 'charts';
    speak: none;
    display: inline-block;
    color: #333333;
    padding-right: 1.2em;    
}
._reports:after {
  content: '\e800'; 
  font-family: 'reports';
    speak: none;
    display: inline-block;
    color: #333333;
    padding-right: 1.2em;    
}
 ._config:after {
  content: '\e801'; 
  font-family: 'config';
    speak: none;
    display: inline-block;
    color: #333333;
    padding-right: 1.2em;    
}
/* end */

/* Main start */
.centralize {
  width: 85%;
  float: right;
  padding: 2em 2em 0 2em;
  box-sizing: border-box;  
}
/* end */

/* Form Register start */
.panel-heading h3 {
  height: 10px;
  margin-top: -2px;
}
.form-group {
  padding: 1.5em 0;
  clear: both;
}
label {
  cursor: pointer;
}
/* Space */
._sl {
  margin-right: .5em;
}
._fl-right {
  float:right;
  margin-right: 1em;
}
.form-control {
  margin-top: -.5em;
}
.btn-success {
  margin: .5em 0 1em 1em;
}
/* Label Space */
._ls {  
  font-weight: bold;
}
/* Label Width */
._lbw {
  width: 11%;
}
/* Space Margin */
._mp {
  margin-right: 2em;  
}
/* Fixed Status Insurance */
._f-status {
  margin-left: 1em !important;
} 
._select {
  width: 20%;
  display: inline;
}
/* Correction button */
._btnc {
  margin-top: -.5em;
}
._find:after { 
  content: '\e800'; 
  font-family: 'find';
  speak: none;
  display: inline-block;
  color: #333333;   
}
._new-patient {
  font-size: 1.5em;
  background-color: #F2F2F2;
}
._btn-back {
  margin: -.5em 0 0 1em;
}
._lessen-row {
  margin-bottom: -.5em;
}
._plus-row {
  margin-top: 1em;
}
.radio-inline, .checkbox-inline {
  padding-left: 35px !important;
}
/* end */ 

/* Counter */
#counter {
  display: none;
}

/* Grid start */
._container-table {
  padding: 0 1em;
}
._container-table table 
tbody tr th {
  color: #333;
  font-weight: normal;
}
._container-table table 
tbody tr th{
  padding-bottom: .5em; 
}
._container-table table 
tbody tr:nth-child(2n+1) {
background: #eaeaea;
}
._btn-success {
  float: right;
  margin-top: -.1em;
}
/* end */

/* ProgressBar start */  
#progressbar {
  display: none;
  overflow: hidden; 
  margin-top: -.1em; 
}
.ui-widget-content {
  border: .075em solid #adadad !important;
}
.ui-widget-header {
  border: .075em solid #adadad !important;
}
/* end */