/* Title Game */
.game-title {
    font-family: "play";
    font-size: 1.5em;
    text-align: center;
}

/* Button start game */
.btn-start-game {
	margin: 1em 0;
}

/* Font icons */
.game:before {
  content: '\e801'; 
  font-family: 'game';
  font-size: 1.2em;
  speak: none;
  display: inline-block;
  color: white;
  padding-right: 1.2em; 
}