<header>
	<nav class="navbar navbar-inverse navbar-fixed-top">	
		<div class="container-fluid">				
			<ul class="nav navbar-nav navbar-left">
				<li>
					<%=
						link_to "War of Leaders", root_path,
							class: "navbar-btn _brand"
					%>
				</li>
				<li><a href="#" class="navbar-btn">Sobre Jogo</a></li>
				<li><a href="#" class="navbar-btn">Regras Jogo</a></li>				
			</ul>
			<ul class="navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" href="#">
						<span>Minha conta</span>
						<b class="caret"></b>
					</a>						
				</li>
				<li class="dropdown">
					<a href="#">Sair</a>
				</li>
			</ul>
		</div>								 									
	</nav>		
</header>