<aside class="sidebar">
	<ul class="nav nav-sidebar">
		<li><a href="#" class=""><span class=""></span>Nome</a></li>
		<li><a href="#" class=""><span class=""></span>Editar Perfil</a></li> 
		<li><a href="#" class=""><span class=""></span>Time</a></li>
	</ul>
</aside>